{{title}}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link" >home</a>
  </li>
      <li class = "nav-item">
          <a routerLink="admin" routerLinkActive="active" class="nav-link" >admin</a>
      </li>
      
  </ul>
</nav>
<div class="text-center">
  <router-outlet></router-outlet>
</div>
